body {
	overflow-x: hidden;
}
.pt-perspective {
	position: relative;
	width: 100%;
	perspective: 1200px;
}

.pt-page {
	background-color: #fff;
	width: 100%;
	display: none;
}

.pt-page > .row:first-child > .col-md-8 > .col-xs-12:first-child {
	min-height: 90%;
	padding-bottom: 20px;
}

@media (min-width:992px) {
	.pt-page {
		min-height: 100%;
	}

	.pt-page > .row:first-child {
		display: flex;
	}

	.pt-page > .row:first-child {
		height: 100%;
		min-height: 600px;
	}
}

@media (max-width:991px) {
	.pt-page {
		height: 100%;
	}
}


.pt-page-current,
.no-js .pt-page {
	display: block;
}

.no-js body {
	overflow: auto;
}

.pt-page-ontop {
	position: absolute;
	top: 0;
	z-index: 999;
}

/* animation sets */

/* move from / to  */

.pt-page-moveToLeft {
	-webkit-animation: moveToLeft .3s ease both;
	animation: moveToLeft .3s ease both;
}

.pt-page-moveFromLeft {
	-webkit-animation: moveFromLeft .3s ease both;
	animation: moveFromLeft .3s ease both;
}

.pt-page-moveToRight {
	-webkit-animation: moveToRight .3s ease both;
	animation: moveToRight .3s ease both;
}

.pt-page-moveFromRight {
	-webkit-animation: moveFromRight .3s ease both;
	animation: moveFromRight .3s ease both;
}

.pt-page-moveToTop {
	-webkit-animation: moveToTop .3s ease both;
	animation: moveToTop .3s ease both;
}

.pt-page-moveFromTop {
	-webkit-animation: moveFromTop .3s ease both;
	animation: moveFromTop .3s ease both;
}

.pt-page-moveToBottom {
	-webkit-animation: moveToBottom .3s ease both;
	animation: moveToBottom .3s ease both;
}

.pt-page-moveFromBottom {
	-webkit-animation: moveFromBottom .3s ease both;
	animation: moveFromBottom .3s ease both;
}

/* fade */

.pt-page-fade {
	-webkit-animation: fade .3s ease both;
	animation: fade .2s ease both;
}

/* move from / to and fade */

.pt-page-moveToLeftFade {
	-webkit-animation: moveToLeftFade .3s ease both;
	animation: moveToLeftFade .3s ease both;
}

.pt-page-moveFromLeftFade {
	-webkit-animation: moveFromLeftFade .3s ease both;
	animation: moveFromLeftFade .3s ease both;
}

.pt-page-moveToRightFade {
	-webkit-animation: moveToRightFade .3s ease both;
	animation: moveToRightFade .3s ease both;
}

.pt-page-moveFromRightFade {
	-webkit-animation: moveFromRightFade .3s ease both;
	animation: moveFromRightFade .3s ease both;
}

.pt-page-moveToTopFade {
	-webkit-animation: moveToTopFade .3s ease both;
	animation: moveToTopFade .3s ease both;
}

.pt-page-moveFromTopFade {
	-webkit-animation: moveFromTopFade .3s ease both;
	animation: moveFromTopFade .3s ease both;
}

.pt-page-moveToBottomFade {
	-webkit-animation: moveToBottomFade .3s ease both;
	animation: moveToBottomFade .3s ease both;
}

.pt-page-moveFromBottomFade {
	-webkit-animation: moveFromBottomFade .3s ease both;
	animation: moveFromBottomFade .3s ease both;
}

/* move to with different easing */

.pt-page-moveToLeftEasing {
	-webkit-animation: moveToLeft .3s ease-in-out both;
	animation: moveToLeft .3s ease-in-out both;
}
.pt-page-moveToRightEasing {
	-webkit-animation: moveToRight .3s ease-in-out both;
	animation: moveToRight .3s ease-in-out both;
}
.pt-page-moveToTopEasing {
	-webkit-animation: moveToTop .3s ease-in-out both;
	animation: moveToTop .3s ease-in-out both;
}
.pt-page-moveToBottomEasing {
	-webkit-animation: moveToBottom .3s ease-in-out both;
	animation: moveToBottom .3s ease-in-out both;
}

/********************************* keyframes **************************************/

/* move from / to  */

@-webkit-keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight { 
	from { }
	to { -webkit-transform: translateX(100%); }
}
@keyframes moveToRight { 
	from { }
	to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-100%); }
}
@keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); }
}
@keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%); }
}
@keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

@-webkit-keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); }
}
@keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

/* fade */

@-webkit-keyframes fade {
	from { }
	to { opacity: 0; }
}
@keyframes fade {
	from { }
	to { opacity: 0; }
}

/* move from / to and fade */

@-webkit-keyframes moveToLeftFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeftFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeftFade {
	from { opacity: 0.3; -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeftFade {
	from { opacity: 0.3; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRightFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateX(100%); }
}
@keyframes moveToRightFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRightFade {
	from { opacity: 0.3; -webkit-transform: translateX(100%); }
}
@keyframes moveFromRightFade {
	from { opacity: 0.3; -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveToTopFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@keyframes moveToTopFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveFromTopFade {
	from { opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@keyframes moveFromTopFade {
	from { opacity: 0.3; -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveToBottomFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateY(100%); }
}
@keyframes moveToBottomFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateY(100%); transform: translateY(100%); }
}

@-webkit-keyframes moveFromBottomFade {
	from { opacity: 0.3; -webkit-transform: translateY(100%); }
}
@keyframes moveFromBottomFade {
	from { opacity: 0.3; -webkit-transform: translateY(100%); transform: translateY(100%); }
}